#nextButton {
  z-index: 10;
  margin: 0 auto;
  margin-top: 5%;
  display: block;
}

#backButton {
  z-index: 10;
  margin: 0 auto;
  margin-bottom: 5%;
  display: block;
}

#notesViewer {
  right: 1vh;
  top: 8vh;
  background-color: #bb9839;
  width: 100%;
  height: 50vh;
  z-index: 5;
  border-radius: 1vh;
  text-align: center;
  overflow: scroll;
}

#notesViewerTitle {
  margin-top: 1vh;
}

#rightContainer {
  position: absolute;
  right: 2%;
  top: 2%;
  width: 35%;
}

#leftContainer {
  position: relative;
  left: 2vh;
  top: 2vh;
  width: 50%;
}

#bottomContainer {
  position: absolute;
  bottom: 2vh;
  margin: 1vh;
  text-align: center;
  width: 100vw;
}

.collectionButton {
  position: absolute;
  width: 7vh;
  height: 7vh;
  left: 1vh;
  z-index: 10;
}

#topButton {
  top: 10vh;
}

#middleButton {
  top: 21vh;
}

#bottomButton {
  top: 33vh;
}

.placementButton {
  width: 12vh;
  height: 12vh;
  z-index: 10;
  bottom: 30vh;
  margin: 1vh;
  left: 15vw;
}

#field {
  height: 50vh;
  z-index: 5;
  border-radius: 1vh;
  top: 1vh;
  left: 1vh;
}

#defenseCheckboxLabel {
  display: inline;
  color: white;
}
