#nextButton {
  z-index: 10;
  margin: 0 auto;
  margin-top: 5%;
  display: block;
}

#backButton {
  z-index: 10;
  margin: 0 auto;
  margin-bottom: 5%;
  display: block;
}

#notesViewer {
  right: 1vh;
  top: 8vh;
  background-color: #bb9839;
  width: 100%;
  height: 50vh;
  z-index: 5;
  border-radius: 1vh;
  text-align: center;
  overflow: scroll;
}

#notesViewerTitle {
  margin-top: 1vh;
}

#rightContainer {
  position: absolute;
  right: 2%;
  top: 2%;
  width: 35%;
}

#leftContainer {
  position: relative;
  left: 2vh;
  top: 2vh;
  width: 50%;
}

#bottomContainer {
  position: absolute;
  bottom: 2vh;
  margin: 1vh;
  text-align: center;
  width: 100vw;
}

.noteButton {
  border-radius: 100%;
  position: absolute;
  width: 4vh;
  height: 4vh;
  z-index: 10;
}

#middle1Button {
  top: 24vh;
  left: 1vh;
  background-color: #acf5b2;
}
#middle2Button {
  top: 24vh;
  left: 5.5vh;
  background-color: #5eff6b;
}
#middle3Button {
  top: 24vh;
  left: 10vh;
  background-color: #00ff15;
}
#middle4Button {
  top: 24vh;
  left: 14.5vh;
  background-color: #008a0b;
}
#middle5Button {
  top: 24vh;
  left: 19vh;
  background-color: #004d06;
}

#close1ButtonBlue {
  top: 9vh;
  left: 10vh;
  background-color: #a7b7ff;
}
#close2ButtonBlue {
  top: 9vh;
  left: 14.25vh;
  background-color: #6580fa;
}
#close3ButtonBlue {
  top: 9vh;
  left: 18.5vh;
  background-color: #0050fc;
}

#close1ButtonRed {
  top: 39vh;
  left: 9vh;
  background-color: #ffa7a7;
}
#close2ButtonRed {
  top: 39vh;
  left: 13.25vh;
  background-color: #fa6565;
}
#close3ButtonRed {
  top: 39vh;
  left: 17.5vh;
  background-color: #fc0000;
}

#mobilityCheckboxLabel {
  display: inline;
  color: white;
}

.placementButton {
  width: 12vh;
  height: 12vh;
  z-index: 10;
  bottom: 30vh;
  margin: 1vh;
  left: 15vw;
}
#field {
  height: 50vh;
  z-index: 5;
  border-radius: 1vh;
  top: 1vh;
  left: 1vh;
}
