#fieldImage {
  display: block;
  position: relative;
  height: 80vw;
  margin-top: 12vh;
  max-height: 80vh;
  min-height: 70vh;
  z-index: 5;
  left: 50vw;
  transform: translateX(-50%);
}

.startingLocationButton {
  position: absolute;
  z-index: 10;
  width: 7vh;
  height: 7vh;
  left: 50vw;
  transform: translateX(-50%);
}

#topRobotButton {
  top: 30vh;
}

#middleRobotButton {
  top: 42vh;
}
#bottomRobotButton {
  top: 70vh;
}

#fieldContainer {
  position: absolute;
  text-align: center;
  margin: auto;
  left: 0vh;
}

#nextButton {
  position: absolute;
  z-index: 10;
  margin: 3vh auto;
  display: block;
  bottom: 0vh;
  left: 50vw;
  transform: translateX(-50%);
}

#backButton {
  position: absolute;
  z-index: 10;
  margin: 3vh auto;
  display: block;
  top: 0vh;
  left: 50vw;
  transform: translateX(-50%);
}
