button {
  margin: 2vh auto;
  display: inline;
  width: 30vw;
  height: 5vh;
}

input {
  margin: 2vh auto;
  display: inline;
  width: 20vw;
  height: 4vh;
  font-size: 2vh;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}
#scout {
  width: 10vh;
  height: 4vh;
  margin: 1vh;
}
